REDIS_URL=redis://localhost:6379
EMAIL_USER=your-email@example.com
EMAIL_PASSWORD=your-email-app-password
DB_USER=postgres
DB_HOST=localhost
DB_NAME=postgres
DB_PASSWORD=your-database-password
DB_PORT=5432
TICKETMASTER_API_KEY=your-ticketmaster-api-key